.body{
    background-image: url("./assets/light-grey-terrazzo/light-grey-terrazzo.png");
}

#header{
    background-color: #ffffff;
    border-color: #cccccc;
    color:#4aaaa5;
}

#headerTitle{
        background-color: #4aaaa5;
}

#footer{
    background-color: #666666;
    border-top-style: solid;
    border-color: #4aaaa5;
    border-top-width: 10px;
}

#picture{
    height: 240px
}